<template name="About">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="#" class="link open-panel icon-only"><i class="icon icon-bars size-24"></i></a></div>
      <div class="center">About</div>
      <div class="right"><a href="#" data-popover=".popover-links" class="link open-popover icon-only"><i class="ion-ios-contact-outline size-24"></i></a></div>
    </div>
  </div>
  <div class="pages">
    <div data-page="About" class="page cached">
      <div class="page-content">
        <div class="content-blocked"></div>
        <div class="card">
					<div class="card-content">
						<div class="card-content-inner">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
</template>