<template name="Signin">
  <div class="pages">
    <div data-page="Signin" class="page cached">
      <div class="page-content">
        <div class="content-blocked"><h3>Masuk</h3></div>
					<form action="post" id="signin">
						<div class="list-block inputs-list">
							<div class="row no-gutter">
								<div class="col-100">
									<div class="item-content">
										<div class="item-inner">
											<div class="item-input item-input-field">
												<input type="text" id="email" placeholder="Email">
											</div>
										</div>
									</div>
								</div>
								<div class="col-100">
									<div class="item-content">
										<div class="item-inner">
											<div class="item-input item-input-field">
												<input type="password" id="password" placeholder="Password">
											</div>
										</div>
									</div>
								</div>
							</div>
							{{#if alert}}
								<div class="content-block">
									<div class="color-red">
										<i class="ion-android-alert size-18 color-red"></i> {{alert}}
									</div>
								</div>
							{{/if}}
							<div class="content-block">
								<a id="signinButton" href="#" class="button button-big button-fill color-blue" style="margin:20px 0">SIGNIN</a>
								<div class="content-block">
									<div class="list-block-label"><a href="/signup" class="color-blue">Belum mendaftar?</a></div>
								</div>
							</div>
						</div>
					</form>
      </div>
    </div>
  </div>
</template>